.menu{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.profile{
	background: url(../images/user_normal.png) no-repeat 0px;
	padding: 0 0 0 44px;
}

.profile:hover{
	background: url(../images/user_hover.png) no-repeat 0px;
	padding: 0 0 0 44px;
}

.support{
	background: url(../images/support_normal.png) no-repeat 0px;
	padding: 0 0 0 44px;
}

.support:hover{
	background: url(../images/support_hover.png) no-repeat 0px;
	padding: 0 0 0 44px;
}

.menu ul{
background:#ffffff;
height:40px;
list-style:none;
margin:0;
padding:0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
        -webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
-moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
}

.menu li{
float:left;
padding:0px 0px 0px 15px;
}

.menu li a{
color:#000;
display:block;
font-weight:normal;
line-height:40px;
margin:0px;
text-align:center;
text-decoration:none;
}

.menu li a:hover{
color:#000;
text-decoration:none;
}

.menu ul li:hover a{
color:#000;
text-decoration:none;
}

.menu li ul{
display:none;
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:120px;
z-index:200;
}

.menu li:hover ul{
display:block; 
}

.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:150px;
background:#fff;
}

.menu li:hover li a{
background:none;
box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.menu li ul a{
display:block;
height:40px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
border:0px;
color:#34b1C4;
text-decoration:none;
background: silver;
}




