* .* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: 'LatoThin';
	src: url('../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
       url('../fonts/Lato-Thin.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/Lato-Thin.woff') format('woff'),
		/* Pretty Modern Browsers */
       url('../fonts/Lato-Thin.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/Lato-Thin.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
       url('../fonts/Lato-Bold.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/Lato-Bold.woff') format('woff'),
		/* Pretty Modern Browsers */
       url('../fonts/Lato-Bold.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/Lato-Bold.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'LatoLight';
	src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
       url('../fonts/Lato-Light.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/Lato-Light.woff') format('woff'),
		/* Pretty Modern Browsers */
       url('../fonts/Lato-Light.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/Lato-Light.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'LatoHairLine';
	src: url('../fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Hairline.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Hairline.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/Lato-Hairline.woff') format('woff'),
		/* Pretty Modern Browsers */
       url('../fonts/Lato-Hairline.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/Lato-Hairline.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'LatoBlack';
	src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
       url('../fonts/Lato-Black.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/Lato-Black.woff') format('woff'),
		/* Pretty Modern Browsers */
       url('../fonts/Lato-Black.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/Lato-Black.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'LatoWeb';
	src: url('../fonts/Lato-Thin.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: silver;
	-webkit-box-shadow: inset 0 0 5px rgba(199, 199, 199, 1);
}

/* Color for cluster status */
.good {
	color: green;
}

.end {
	color: black;
	text-decoration: line-through;
}

.pending {
	color: orange;
}

.fail {
	color: red;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	/*    width: 15%; */
	/*    height: 75%; */
	margin-top: -81px; /*Half the height*/
	margin-left: -81px; /* Half the width */
}

.loader-left {
	position: absolute;
	top: 26%;
	left: 70%;
	/*    width: 15%; */
	/*    height: 75%; */
	margin-top: -81px; /*Half the height*/
	margin-left: -81px; /* Half the width */
	z-index: 220;
}

.loader-top {
	position: absolute;
	top: 30%;
	left: 55%;
	/*    width: 15%; */
	/*    height: 75%; */
	margin-top: -81px; /*Half the height*/
	margin-left: -81px; /* Half the width */
	z-index: 220;
}

.mdisabled {
	cursor: not-allowed;
	pointer-events: none;
}

.app_signature {
	float: left;
	padding: 3px 9px 10px 0px;
	margin-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "LatoLight", sans-serif;
	color: #393f43;
	font-size: 13px;
	background: #f7f8f9;
}

ul, li {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "LatoBlack", sans-serif;
	margin-left: 8px;
}

a {
	outline: none;
	text-decoration: none;
}

input:focus {
	border-color: #34b1c4;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(44, 62, 80, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(44, 62, 80, 0.6);
}

a:hover {
	outline: none;
	text-decoration: none;
}

button[disabled], html input[disabled] {
	cursor: default;
	/*   background-color: #ecf0f1; */
}

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="text"][disabled],
	input[type="number"][disabled], input[type="radio"].disabled, input[type="checkbox"].disabled,
	fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"]
	{
	cursor: not-allowed;
}

.bt.disabled, .bt[disabled], fieldset[disabled] .bt, .signup-box p.button input:disabled,
	.signup-box-home p.button input:disabled {
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wrapper {
	float: left;
	width: 100%;
}

.home-logo{
	width: 150px;
	height: 150px;
}

.header {
	min-height: 65px;
	float: left;
	margin-left: -0.3%;
	width: 100%;
	background: #f7f8f9; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#fff, #f7f8f9);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #f7f8f9);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #f7f8f9);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #f7f8f9); /* Standard syntax */
	box-shadow: 1px 1px 3px #999;
}

.container {
	float: left;
	width: 97%;
	margin: 0.1% 3.2% 0.6% 3.2%;
	z-index: 100;
}

.content-left {
	float: left;
}

.content-right {
	float: right;
}

.top-space {
	margin-top: 15px;
	margin-bottom: 15px;
}

.text-center {
	text-align: center;
}

.top-nav {
	float: left;
	margin-top: 0px;
}

.top-nav ul {
	float: left;
	list-style-type: none;
	margin-top: 1.5%;
}

.top-nav ul li {
	display: block;
	margin-right: 15px;
	text-transform: uppercase;
	float: left;
	position: relative;
}

.top-nav ul li a {
	float: left;
	padding: 9px 6px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	background: #f7f8f9;
}

.top-nav ul li a:hover {
	background: #34b1c4;
	border: 1px solid #34b1c4;
	color: #fff;
}

.top-nav ul li.active {
	background-color: #34b1c4;
	border-radius: 4px;
	border: 1px solid #34b1c4;
}

.top-nav ul li.active a {
	color: #fff;
	border: none;
	border-radius: 4px;
	background-color: #34b1c4;
}

.top-nav ul li.active:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	border-top: 11px solid #34b1c4;
	position: absolute;
	bottom: -8px;
	width: 0px;
	left: 50%;
	margin-left: -10px;
}

.top-right {
	float: right;
	margin-right: 3%;
	/* line-height: 60px; */
}

.top-right ul {
	float: left;
	list-style-type: none;
	margin-top: 5%;
	font-family: "LatoLight" sans-serif;
}

.top-right ul li {
	margin-left: 30px;
	float: left;
	display: inline-block;
}

.top-right ul li a {
	color: #000;
	/* 	font-weight: bolder; */
	text-decoration: none;
	line-height: 38px;
}

.top-right .support {
	background: url(../images/support_normal.png) no-repeat 0px;
	padding: 0 0 0 44px;
}

.top-right .support:hover {
	background: url(../images/support_hover.png) no-repeat left;
}

.top-right .user {
	background: url(../images/user_normal.png) no-repeat 0px;
	padding: 0 0 0 44px;
}

.top-right .user:hover {
	background: url(../images/user_hover.png) no-repeat left;
}

.top-right .user.active {
	background: url(../images/user_hover.png) no-repeat left;
}

.white-box {
	float: left;
	width: 90%;
	height: 600px;
	margin: 2% 5% 2% 3%;
	padding: 2%;
	border: 1px solid #e6e6e6;
	background: #fff;
}

.white-box h4 {
	padding-top: 30px;
}

.white-box-details {
	float: left;
	width: 90%;
	height: 1050px;
	margin: 2% 5% 2% 3%;
	padding: 2%;
	border: 1px solid #e6e6e6;
	background: #fff;
}

.white-box-deposit {
	float: left;
	width: 90%;
	height: 500px;
	margin: 2% 5% 2% 3%;
	padding: 2%;
	border: 1px solid #e6e6e6;
	background: #fff;
}

.white-box-deposit h4 {
	padding-top: 30px;
}


/* textarea { */
/*   resize: vertical; user can resize vertically, but width is fixed */
/* } */
.bottom-button {
	float: right;
	width: 100%;
}

.bottom-button ul {
	list-style-type: none;
}

.bottom-button ul li {
	display: inline;
	margin-left: 5px;
}

.bt {
	border: none;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 5px;
	font-size: 13px;
	cursor: pointer;
}

/* .bt:disabled { */
/* 	cursor: not-allowed; */
/* 	opacity: 0.65; */
/* } */
.user1 {
	float: right;
}

/* .box-left p input[type='text'], .box-left p input[type='number'] { */
/* 	width: 86%; */
/* 	padding: 9px; */
/* 	border: 1px solid #f3f3f3; */
/* 	box-shadow: inset 0 1px 1px 0px #e1e1e1; */
/* 	color: #757575; */
/* 	font-size: 15px; */
/* } */
.box-left label input[type='number'] {
	width: 38%;
	padding: 9px;
	margin-left: 7px;
	border: 1px solid #f3f3f3;
	box-shadow: inset 0 1px 1px 0px #e1e1e1;
	color: #757575;
	font-size: 15px;
	/* 	background: */
	/* 		url('../images/dropup.png') no-repeat right #FFF; */
	/* 	-webkit-appearance: none; */
	/* 	-moz-appearance: none; */
}

/* label { width: 200px; float: left; margin: 0 20px 0 0; } */
/* span { display: block; margin: 0 0 3px; font-size: 1.2em; font-weight: bold; } */
/* input { width: 200px; border: 1px solid #e4e4e4; padding: 5px; } */
.bt-black {
	background: #393f43;
}

.bt-black:hover {
	background: #4b5257;
}

.bt-blue {
	background: #34b1c4;
}

/* .bt-blue:hover { */
/* 	background: #37bed2; */
/* } */
.
heading {
	width: 100%;
	float: left;
}

.heading h1 {
	padding: 0px;
	margin: 0px;
}

.greybox {
	width: 100%;
	float: left;
	border: 1px solid #e6e6e6;
	background: #f7f8f9;
	box-shadow: 1px 1px 2px #e5e5e5;
	min-height: 280px;
}

.table-field {
	float: left;
	width: 49.95%;
}

.table-content {
	height: 280px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	width: 100%;
}

.table-field ul {
	list-style: none;
	padding: 1% 2%;
}

.table-field ul li {
	display: block;
	padding: 0px;
	border-bottom: 1px solid #e4e4e4;
	line-height: 30px;
}

.table-field ul li a {
	color: #34b1c4;
}

.table-field ul li:last-child {
	border-bottom: none;
}

.greybox .border-left {
	border-left: 1px solid #e4e4e4;
}

.greybox .border-right {
	border-right: 5px solid #000;
}

.greybox .heading {
	float: left;
	width: 100%;
	min-height: 40px;
	line-height: 40px;
	background: #f7f8f9; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#fff, #f7f8f9);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #f7f8f9);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #f7f8f9);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #f7f8f9); /* Standard syntax */
	border-bottom: 1px solid #e6e6e6;
}

.greybox .heading a {
	color: #000;
	text-decoration: none;
	width: 97%;
	float: left;
	margin: 0% 0%;
}

.greybox .heading span {
	float: right;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 150px;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
	right: 0px;
}

.dropdown-content a {
	color: black;
	padding: 4px 10px;
	background-color: #fff;
	text-decoration: none display: block;
	text-align: center;
	font-weight: normal !important;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e5e5e5;
	padding: 4px 10px;
}

.dropdown-content a:hover {
	background-color: #f5fbfc;
	color: #34b1c4;
}

.dropdown:hover .dropdown-content {
	/* 	margin-top : 16px; */
	display: block;
}

/* kafka */
.kafka-box {
	float: left;
	width: 80%;
	margin: 2% 10% 2% 7%;
	padding: 3% 2% 4% 2%;
	border: 1px solid #e6e6e6;
	background: #fff;
}

.kafka-box h2 {
	padding: 0px;
	margin: 0px;
}

.main-box {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.box-left {
	float: left;
	width: 37%;
	margin-right: 0.5%;
	height: auto;
}

.box-left p {
	padding: 0px;
	margin: 5px 0 5px 8px;
	float: left;
	width: 96%;
}

.box-left p input[type='text'], .box-left p input[type='number'] {
	width: 86%;
	padding: 9px;
	border: 1px solid #f3f3f3;
	box-shadow: inset 0 1px 1px 0px #e1e1e1;
	color: #757575;
	font-size: 15px;
}
input[type='tel']{
	width: 77%;
	padding: 9px;
	border: 1px solid #f3f3f3;
	box-shadow: inset 0 1px 1px 0px #e1e1e1;
	color: #757575;
	font-size: 15px;
}

.box-left p select {
	width: 91%;
	padding: 5px;
	border: 1px solid #e4e4e4;
	box-shadow: inset 0 1px 1px 0px #e1e1e1;
	color: #757575;
	font-size: 15px;
	height: 34px;
	background: url('../images/dropdown.png') no-repeat right #FFF;
	-webkit-appearance: none;
	-moz-appearance: none;
	/* 	appearance: none; */
}

.box-left table td input {
	width: 40%;
	padding: 9px;
	border: 1px solid #f3f3f3;
	box-shadow: inset 0 1px 1px 0px #e1e1e1;
	color: #757575;
	font-size: 15px;
}

select {
	background: url('../images/dropdown.png') no-repeat right #FFF;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.box-left span {
	/* 	margin-top: 3px; */
	float: left;
}

.box-right {
	float: left;
	width: 62.5%;
	min-height: 90px;
}

/* .box-right p { */
/* 	padding: 0px; */
/* 	margin: 5px 0 5px 0; */
/* 	float: left; */
/* 	width: 100%; */
/* } */
.box-right p input {
	width: 86%;
	padding: 9px;
	border: 1px solid #e4e4e4;
	box-shadow: inset 0 1px 1px 0px #e1e1e1;
	color: #757575;
	font-size: 15px;
}

.keyspaces {
	width: 100%;
	float: left;
	font-family: "LatoThin", sans-serif;
	background: #f7f8f9;
	box-shadow: 1px 1px 2px #e5e5e5;
	margin-top: 0px;
	text-decoration: none;
	background: #f7f8f9
}

/* .grid { */
/* 	font-family: "LatoThin", sans-serif; */
/* 	font-size: 12px; */
/* } */
input[type="text"].ui-grid-filter-input{
  height: 25px;
}
select.ui-grid-filter-select {
  height: 27px;
}

.keyspaces table th {
	padding: 10px;
	text-align: left;
	width: 25%;
	border-left: 1px solid #e6e6e6;
	background: #f7f8f9; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#fff, #f7f8f9);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #f7f8f9);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #f7f8f9);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #f7f8f9); /* Standard syntax */
	border-bottom: 1px solid #e6e6e6;
}

.keyspaces table th:first-child {
	border-left: none;
}

.keyspaces table th a {
	color: #393f43;
	width: 100%;
	float: left;
}

.keyspaces table th a span {
	float: right;
}

.keyspaces table td {
	padding: 10px;
}

.button-group {
	float: left;
	width: 100%;
	margin-top: 25px;
}

.button-group-l {
	float: left;
	width: 38%;
	margin-left: 5%;
}

.button-group-r {
	float: right;
	width: 38%;
	margin-right: 2%;
}

.button-group-r span {
	margin-left: 5px;
}

.toplist table {
	font-size: 13px;
	background: #fff;
}

.toplist table th {
	padding: 10px;
	text-align: left;
	width: 20%;
	border-left: 1px solid #e6e6e6;
	background: #f7f8f9; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#fff, #f7f8f9);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #f7f8f9);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #f7f8f9);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #f7f8f9); /* Standard syntax */
	border-bottom: 1px solid #e6e6e6;
}

.toplist table th:first-child {
	border-left: none;
}

.toplist table th a {
	color: #393f43;
	width: 100%;
	float: left;
}

.toplist table th a span {
	float: right;
}

.toplist table td {
	padding: 10px;
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.toplist table td:first-child {
	border-left: none;
}

.toplist table tr:hover {
	background: #eaf7f9;
}

.toplist table tr.active {
	background: #eaf7f9;
}


/* profile*/
.profile-box {
	float: left;
	width: 80%;
	margin: 2% 10% 2% 7%;
	padding: 3% 2% 4% 2%;
	border: 1px solid #e6e6e6;
	background: #fff;
}

.profile-box h2 {
	padding: 0px;
	margin: 0px;
}

/* signup */
.signup-main {
	width: 600px;
	margin: 0 auto;
}

.signup {
	width: 600px;
	float: left;
	margin-top: 50px;
	text-align: center;
}

.signup h2 {
	text-transform: uppercase;
	letter-spacing: 15px;
	text-align: center;
	padding-left: 20px;
	margin: 30px 0px;
}

.signup-box {
	width: 78%;
	border: 1px solid #e6e6e6;
	background: #fff;
	box-shadow: 1px 1px 2px #e5e5e5;
	padding: 6% 12%;
	float: left;
	text-align: left;
}

.signup-box-home {
	width: 78%;
	height: 150px;
	margin-left: 11%;
	margin-right: 11%;
	border: 1px solid #e6e6e6;
	background: #fff;
	box-shadow: 1px 1px 2px #e5e5e5;
	padding: 3% 0%;
	float: left;
	text-align: left;
}

.signup-box p, .signup-box-home p {
	padding: 0px;
	margin: 5px 0 5px 0;
	float: left;
	width: 100%;
}

.signup-box p input, .signup-box-home p input {
	width: 100%;
	padding: 9px;
	border: 1px solid #e4e4e4;
	box-shadow: inset 0 1px 1px 0px #e1e1e1;
	color: #757575;
	font-size: 13px;
}

.combo {
	background-color: #FFF;
}

.signup-box p input.user {
	background: url(../images/user-icon.png) no-repeat 12px 13px;
	box-shadow: inset 0 1px 1px 0px #eee;
	padding-left: 45px;
}

.signup-box p input.email {
	background: url(../images/email-icon.png) no-repeat 12px 13px;
	box-shadow: inset 0 1px 1px 0px #eee;
	padding-left: 45px;
}

.signup-box p input.password {
	background: url(../images/password-icon.png) no-repeat 12px 13px;
	box-shadow: inset 0 1px 1px 0px #eee;
	padding-left: 45px;
}

.signup-box p.text, .signup-box-home p.text {
	font-size: 13px;
	text-align: center;
}

.signup-box p.text a, .signup-box-home p.text a {
	color: #e5a612;
}

.signup-box p.button, .signup-box-home p.button {
	text-align: center;
	margin: 18px 0px;
}

.signup-box p.button input, .signup-box-home p.button input {
	padding: 12px 20px 13px 20px;
	font-size: 18px;
	cursor: pointer;
	background: #34b1c4;
/* 	background: #e5a612; */
	box-shadow: none;
	width: 60%;
	border-radius: 4px;
	border: none;
	color: #fff;
}

.signup-box p.button input:hover, .signup-box-home p.button input:hover
	{
/* 	background: #393f43; */
     background: #34b1c4; 
}

.signup-or-separator {
	position: relative;
	height: 5px;
	text-align: center;
	background: none;
}

.signup-or-separator hr {
	width: 100%;
	margin: -16px auto 10px auto;
	border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
	display: inline-block;
	padding: 8px;
	margin: 0;
	background-color: #fff;
}

.signup-or-separator .label {
	display: inline-block;
	padding: 8px;
	margin: 0;
	background-color: #fff;
}

.has-warning .help-block, .has-warning .control-label, .has-warning .radio,
	.has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline,
	.has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label,
	.has-warning.checkbox-inline label, .has-warning .form-control-feedback
	{
	color: #f39c12;
}

.has-warning .form-control, .has-warning .form-control:focus {
	border: 2px solid #f39c12;
}

.has-warning .input-group-addon {
	border-color: #f39c12;
}

.has-error .help-block, .has-error .control-label, .has-error .radio,
	.has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline,
	.has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label,
	.has-error.checkbox-inline label, .has-error .form-control-feedback {
	color: #e74c3c;
}

.has-error .form-control, .has-error .form-control:focus {
	border: 2px solid #e74c3c;
}

.has-error .input-group-addon {
	border-color: #e74c3c;
}

.has-success .help-block, .has-success .control-label, .has-success .radio,
	.has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline,
	.has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label,
	.has-success.checkbox-inline label, .has-success .form-control-feedback
	{
	color: #34b1c4;
}

.has-success .form-control, .has-success .form-control:focus {
	border: 2px solid #34b1c4;
}

.has-success .input-group-addon {
	border-color: #34b1c4;
}

.text-primary, .text-primary:hover {
	color: #393f43;
}

.text-success, .text-success:hover {
	color: #34b1c4;
}

.text-danger, .text-danger:hover {
	color: #e74c3c;
}

.text-warning, .text-warning:hover {
	color: #f39c12;
}

.text-info, .text-info:hover {
	color: #3498db;
}

.form-control {
	
}

/* storm */
.storm-box {
	float: left;
	width: 98%;
	margin: 1.5% 1% 0 1%;
	border: 1px solid #e6e6e6;
	background: #fff;
	box-shadow: 1px 1px 2px #e5e5e5;
}

.storm-box h3 {
	padding: 2px 0px;
	margin: 0px;
}

.storm-box table td {
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
}

.storm-box table th {
	text-align: left;
	background: #fbfbfc;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px;
}

.storm-box table td.green {
	color: #3bc434;
}

.form-warning{
    padding-left: 41%;
    margin-top: 8px;
}

/*cassandra*/