
<div align="center" ng-show="showLoading && !showAPIFail">
	<img src="images/loader.gif" class="loader">
</div>
<div ng-show="!showLoading" id="main">
	<div class="wrapper">
		<!-- header start -->
		<header>
			<div class="header">
				<div class="container">
					<div class="top-nav">
						<ul>
						<span class="app_signature""><a
							href="#/transactions" style="border: none;"><img alt="logo app"
								src="../images/libreexchange_logo.png"
								style="width: 30px; height: 30px;">&nbsp;&nbsp; 
								<span style="color: #000; font-size: 24px; vertical-align: super;">Go Archive Portal</span></a>
						</span>
					</ul>
					</div>
					<div class="top-right">
						<ul>
							<li class="user dropdown"><a href="#/logout">Log out</a>
<!-- 							<div class="dropdown-content"> -->
<!-- 								<a href="#/logout">Log out</a> -->
<!-- 							</div> -->
							</li>

						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- header end -->
		<div class="signup-main">
			<div class="signup">
				<div class="signup-box">

					<!-- 				<input type="button" ng-click="close()" value="Close" -->
<!-- 					class="bt bt bt bt-black"> -->
					<img alt="CLOSE" src="../images/close.png" ng-click="close()" style="float: right;">
					
					<div class="form-title-row">
						<h3>Almost done, please confirm it:</h3>
					</div>
							
						
					<br />


					<form class="form-basic">
						<div class="form-row">
						
						
							<label> <span>Amount:</span> <input
								class="form-control" id="amount1" name="amount1"
								type="number" ng-model="transaction.amount1"
								required
								autofocus />
								<div class="help-block text-danger form-warning"
                                     ng-if="myForm.amount1.$dirty"
                                     ng-messages="myForm.amount1.$error">
								</div>
							</label>
						</div>
						
						<div class="form-row">
						
						
							<label> <span>Currency:</span> <input
								class="form-control" id="currency" name="currency"
								type="text" ng-model="transaction.currency"
								ng-init="transaction.currency=foo"
								required
								autofocus />
								<div class="help-block text-danger form-warning"
                                     ng-if="myForm.currency.$dirty"
                                     ng-messages="myForm.currency.$error">
								</div>
							</label>
						</div>
					
						<div class="form-row">
						
						
							<label> <span>Recipient Email address:</span> <input
								class="form-control" id="email" name="email"
								type="email" ng-model="transaction.email"
								ng-init="transaction.email=foo"
								required
								autofocus />
								<div class="help-block text-danger form-warning"
                                     ng-if="myForm.email.$dirty"
                                     ng-messages="myForm.email.$error">
                                    <div ng-message="required">Email address is required.</div>
                                    <div ng-message="email">Please enter a valid email address.</div>
								</div>
							</label>
						</div>

						<div class="form-row">
							<label> <span>Question :</span> <input
								class="form-control" id="question1" name="question1"
								type="text" ng-model="transaction.question1"
								 required
								autofocus />
								<div class="help-block text-danger form-warning"
									ng-if="myForm.question1.$dirty"
									ng-messages="myForm.question1.$error">
									<div ng-message="required">Question is required.</div>
								</div>
							</label>
						</div>
						<div class="form-row">
							<label> <span>Answer :</span> <input
								class="form-control" id="answer1" name="answer1"
								type="text" ng-model="transaction.answer1"
								 required
								autofocus />
								<div class="help-block text-danger form-warning"
									ng-if="myForm.answer1.$dirty"
									ng-messages="myForm.answer1.$error">
									<div ng-message="required">Answer is required.</div>
								</div>
							</label>
						</div>

						<div class="form-row">
							<input class="bt bt-blue" type="button" ng-disabled="canConfirm()"
								style="float: right; margin-left: 5px; width: 35%;"
								ng-click="confirmTransaction()" value="Done" />
						</div>
						
					</form>
				    
				</div>
			</div>
		</div>
	</div>
</div>
