<div align="center" ng-show="showLoading && !showAPIFail">
    <img src="images/loader.gif" class="loader">
</div>
<div ng-show="!showLoading" id="main">
    <div class="wrapper">
        <!-- header start -->
        <header>
            <div class="header">
                <div class="container">
                    <div class="top-nav">
                        <ul>
						<span class="app_signature"><a
                                href="#/document" style="border: none;"><img alt="logo app"
                                                                             src="../images/libreexchange_logo.png"
                                                                             style="width: 30px; height: 30px;">&nbsp;&nbsp;
								<span style="color: #000; font-size: 24px; vertical-align: super;">QG Cloud</span></a>
						</span>
                        </ul>
                    </div>
                    <div class="top-right">
                        <ul>
                            <li class="user dropdown"><a href="#/logout">Log out</a>
                                <!-- 							<div class="dropdown-content"> -->
                                <!-- 								<a href="#/logout">Log out</a> -->
                                <!-- 							</div> -->
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
        <div class="signup-main">

            <form class="signup">
                <div class="signup-box">

                    <img alt="CLOSE" src="../images/close.png" ng-click="close()" style="float: right;">

                    <div class="form-title-row">
                        <h3>Add a new document</h3>
                    </div>
                    <br/>


                    <form class="form-basic" name="myForm">

                        <div class="form-row">
                            <input type="file" ngf-select ng-model="file" name="file"    
              						ngf-max-size="20MB" required value="Select a file ....">
                        </div>

                        <div class="form-row">
                            <label> <span>Description:</span> <input
                                    class="form-control" id="description" name="description"
                                    type="text" ng-model="description"
                                    required
                                    autofocus/>

                            </label>
                        </div>


                        <div class="form-row">
                            <input class="bt bt-blue" type="button" ng-disabled="myForm.$invalid && canCreate()"
                                   style="float: right; margin-left: 5px; width: 35%;"
                                   ng-click="createDoc()" value="Create"/>
                        </div>
                    </form>

                </div>
        </div>


    </div>
</div>
</div>
