
<div class="wrapper">
	<!-- header start -->
	<header>
		<div class="header">
			<div class="container">
				<div class="top-nav">
					<ul>
						<span class="app_signature""><a
							href="#/transactions" style="border: none;"><img alt="logo app"
								src="../images/libreexchange_logo.png"
								style="width: 30px; height: 30px;">&nbsp;&nbsp; 
								<span style="color: #000; font-size: 24px; vertical-align: super;">Go Archive Portal</span></a>
						</span>
					</ul>
				</div>
				<div class="top-right">
					<ul>
						<li class="user dropdown"><a href="#/logout">Log out</a>
<!-- 							<div class="dropdown-content"> -->
<!-- 								<a href="#/logout">Log out</a> -->
<!-- 							</div> -->
							</li>

					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- header end -->
	<!-- content start -->
	<div class="white-box-deposit">

		<div class="heading">
		    
			<div class="content-left">
				<h2>Wallet's Details Info</h2>
			</div>
			<div class="content-right">
					<img alt="CLOSE" src="../images/close.png" ng-click="close()">
			</div>
		</div>
		
		<div class="col-md-12" style="margin-top: 2%; padding-left: 0px;">
			<div class="col-md-4" style="padding-left: 0px; padding-right: 5px;">
				<table>
					<tr>
						<td style="width:35%;">Id :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{id}}</td>
					</tr>
					<tr>
						<td style="width:15%;">Available Balance :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{availableBalance}}</td>
					</tr>
					<tr>
						<td style="width:35%;">Unavailable Balance :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{unavailableBalance}}</td>
					</tr>
					<tr>
						<td style="width:35%;">Currency :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{currency}}</td>
					</tr>
				</table>
			</div>
			

			<div class="col-md-4" style="margin-left: 3%;">
				<table>
					<tr>
						<td  style="width:50%;">Status: </td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{status}}</td>
					</tr>
					<tr>
						<td style="width:50%;">Creation Date :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{createDate}}</td>
					</tr>
					<tr>
<!-- 						<td style="width:50%;">Last Update Date :</td> -->
						<td style="float: left;">Last Update Date :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{lastUpdateDate}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-12"
			style="margin-top: 35px;  padding-left: 0px;">
			<div class="heading">
				<div class="content-left">
					<h3>Customer's Details Info</h3>
				</div>
		</div>
		<div class="col-md-12" style="margin-top: 2%; padding-left: 0px;">
			<div class="col-md-4" style="padding-left: 0px; padding-right: 5px;">
				<table>
					<tr>
						<td style="width:35%;">First name :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerFirstName}}</td>
					</tr>
					<tr>
						<td style="width:15%;">Last name :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerLastName}}</td>
					</tr>
					<tr>
						<td style="width:35%;">Email :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerEmail}}</td>
					</tr>
					<tr>
						<td style="width:35%;">Status :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerStatus}}</td>
					</tr>
					<tr>
						<td style="width:35%;">Zone :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerZone}}</td>
					</tr>
					<tr>
						<td style="width:35%;">Creation Date :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerCreateDate}}</td>
					</tr>
					<tr>
						<td style="width:35%;">Last Update Date :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerLastUpdateDate}}</td>
					</tr>
					
					<tr>
						<td style="width:35%;">Currency :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerCurrency}}</td>
					</tr>
				</table>
			</div>

			<div class="col-md-4" style="margin-left: 3%;">
				<table>
					<tr>
						<td style="width:60%;">City :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerCity}}</td>
					</tr>
					<tr>
						<td style="width:50%;">Language :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerLanguage}}</td>
					</tr>
					
					<tr>
						<td style="width:50%;">Phone :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerPhone}}</td>
					</tr>
					<tr>
						<td  style="width:50%;">State: </td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerState}}</td>
					</tr>
					<tr>
						<td style="width:50%;">Country :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerCountry}}</td>
					</tr>
					<tr>
						<td style="width:50%;">ZipCode :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerZipCode}}</td>
					</tr>
					
					<tr>
						<td style="width:50%;">Enabled :</td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerEnabled}}</td>
					</tr>
					<tr>
						<td  style="width:50%;">Activation Code: </td>
						<td>&nbsp;</td>
						<td style="float: right; font-weight: bold;">{{customerActivationCode}}</td>
					</tr>
				</table>
			</div>
			</div>
		
		
		<div class="content-right top-space">
				<div class="bottom-button">
					<ul>
						<li><input type="button" class="bt bt-blue"
							value="Cancel deposit" ng-disabled="isActive()"
							ng-click="verifyAndCancelDeposit()"></li>
						<li><input type="button" class="bt bt-blue"
							value="Confirm Deposit" ng-disabled="isActive()"
							ng-click="verifyAndConfirmDeposit()"></li>
					</ul>
				</div>
			</div>
		
				<!-- Out -->
				</div>

		</div>
			<br>
		</div>
		<!-- content end -->
		
	</div>
</div>
