<div class="wrapper">
	<!-- header start -->
	<header>
		<div class="header">
			<div class="container">
				<div class="top-nav">
					<ul>
						
						<span class="app_signature"><a
							href="#/transactions" style="border: none;"><img alt="logo app"
								src="../images/libreexchange_logo.png"
								style="width: 30px; height: 30px;">&nbsp;&nbsp; 
								<span style="color: #000; font-size: 24px; vertical-align: super;">Go Archive Portal</span></a>
						</span>
					
<!-- 						<span class="app_signature">  -->
						<!-- 						<a --> <!-- 							href="#/clusters" style="border: none;"><img alt="logo app" -->
							<!-- 								src="../images/libreexchange_logo_old.png" -->
							<!-- 								style="width: 119px; height: 19px;">&nbsp;&nbsp;  -->
<!-- 							<span style="color: #000; font-size: 24px;">Go Archive Portal</span> -->
							<!-- 								</a> -->
<!-- 						</span> -->

					</ul>
				</div>
				<div class="top-right">
					<ul>
						<li class="user dropdown"><a href="#/logout">Log out</a>
<!-- 							<div class="dropdown-content"> -->
<!-- 								<a href="#/logout">Log out</a> -->
<!-- 							</div> -->
							</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- header end -->
	<!-- content start -->
	<div class="white-box">

		<div class="heading">
			<div class="content-left">
				<p> 
					<img alt="BACK" src="../images/back.png" ng-click="back()" style="float: right;">
				</p>
			</div>
			<div class="content-left">
				<h2>Our Fake Users</h2>
			</div>
			<div class="content-right">
				<p> 
					<input class="bt bt-blue" type="button" ng-click="createFakeUserAndRecipient()"
						value="Create fake user" id="fakeUser"
						style="float: right; margin-left: 30%; margin-bottom: 2%;" />
				</p>
			</div>
		</div>
		
<!-- 		<div class="col-md-3" -->
<!-- 			style="padding-right: 0px; float: right; top: 10px;"> -->
<!-- 			<p> -->
<!-- 				<input class="bt bt-blue" type="button" ng-click="killCluster()" -->
<!-- 					value="Kill Cluster" id="killdelete" -->
<!-- 					style="float: right; margin-left: 30%; margin-bottom: 2%;" /> -->
<!-- 			</p> -->
<!-- 		</div> -->

		<div ng-show="showLoading && !showAPIFail">
			<img src="images/loader-small.gif" class="loader-top">
		</div>
		
		<div style="margin-top: 61px; margin-left: 8px;">
			<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"
				style="height: 450px;" ui-grid-resize-columns></div>

			<br />
			<p></p>
			<p></p>
			<div class="content-right top-space">
				<div class="bottom-button">
					<ul>
						<!-- 						<li><input type="button" value="Add Cluster" -->
						<!-- 							ng-click="addCluster()" class="bt bt-blue"></li> -->
						
						<li><input type="button" class="bt bt-blue"
							value="Choose recipient" ng-disabled="isActive()"
							ng-click="viewRecipients()"></li>
						<!-- 						<li><input class="bt bt-blue" type="button" -->
						<!-- 							ng-click="viewStorm()" ng-disabled="isComplete()" id="stormui" -->
						<!-- 							value="Storm UI" /></li> -->
					</ul>
				</div>
			</div>

		</div>
		

	</div>
	<!-- content end -->

</div>
